@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

header {
  position: relative;
}

a {
  text-decoration: none;
  outline: 0;
  color: #000;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
  color: #000;
}

section .container {
  margin-top: 20px;
}

section h3.sub-title {
  color: #999;
  font-weight: 400;
}

footer {
  background: #EAEAEA linear-gradient(#EAEAEA, #FFF) repeat scroll 0% 0%;
  border-top: 1px solid #FFF;
  padding: 2em 0px;
}

.clearfix {
  clear: both;
}

.block {
  padding: 20px;
}

.block img {
  display: block;
}

.grey {
  background: #EFEFEF;
}

.white {
  background: #fff;
}

.navbar-default {
  background: transparent;
  border: medium none;
}

.navbar-default li a {
  color: #000;
  outline: 0;
}

.navbar-default li a:hover {
  color: #2A90E5;
}

.navbar-default .navbar-toggle:hover {
  background: none;
}

.navbar-default .navbar-brand {
  background: #2A90E5;
  color: #fff;
  font-weight: 700;
  width: 100%;
}

.navbar-default .navbar-brand:hover {
  background: #2A90E5;
  color: #fff;
}

.navbar-default .navbar-header {
  width: 30%;
}

@media screen and (max-width: 1024px) {
  .navbar-default .navbar-header {
    width: 35%;
  }
}

@media screen and (max-width: 640px) {
  .navbar-default .navbar-header {
    width: 100%;
  }
}

.navbar-default .navbar-nav {
  margin-left: 5px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav li {
  padding: 0 15px;
}

.navbar-default .navbar-nav li a {
  color: #000;
}

.navbar-default .navbar-nav li a:hover {
  color: #2A90E5;
}

.navbar-default .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}

.navbar-default .navbar-nav li .dropdown-menu li {
  padding: 10px 0px;
}

.navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .open a:focus, .navbar-default .navbar-nav .open a:hover {
  background: none;
}

@media screen and (max-width: 640px) {
  .navbar-default .navbar-nav .open .dropdown-menu li a, .navbar-default .navbar-nav .open .dropdown-menu li a:focus, .navbar-default .navbar-nav .open .dropdown-menu li a:hover {
    color: #000;
    background: none;
  }
}

.navbar-default .dropdown .open {
  background: #2A90E5;
}

.navbar-default .dropdown-menu li a, .navbar-default .dropdown-menu li a:focus, .navbar-default .dropdown-menu li a:hover {
  color: #000;
  background: none;
}

.navbar-default .dropdown-toggle .caret {
  margin-left: 10px;
}

.btn {
  border-radius: 0;
  outline: 0;
}

.btn:active {
  box-shadow: none;
}

.btn:focus {
  outline: 0;
}

.btn-default {
  outline: 0;
  background: #fff;
}

.btn-default.active {
  background: #EFEFEF;
  box-shadow: none;
}

.btn-default.active:hover {
  background: #EFEFEF;
}

.btn-default.active:focus {
  background: #EFEFEF;
  outline: 0;
}

.btn-default:hover {
  background: #EFEFEF;
}

.btn-default:focus {
  background: #EFEFEF;
}

.btn-default:active {
  background: #EFEFEF;
  outline: 0;
}

.btn-default:active:hover {
  background: #EFEFEF;
  outline: 0;
}

.btn-default:active:focus {
  background: #EFEFEF;
  outline: 0;
}

.page-default a {
  color: #fff;
}

.page-default .navbar-default {
  background: #000000;
  border: medium none;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}

.page-default .navbar-default:hover {
  background: #000000;
}

.page-default .navbar-default li a {
  color: #fff;
}

.page-default .navbar-default li a:hover, .page-default .navbar-default li a:focus {
  color: #fff;
}

.page-default .navbar-default .navbar-toggle:hover {
  background: none;
}

.page-default .navbar-brand {
  background: none;
  color: #fff;
  font-weight: 700;
}

.page-default .navbar-brand:hover {
  background: #2A90E5;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .page-default .navbar-brand {
    width: 77%;
  }
}

.page-default .navbar-nav {
  margin-left: 5px;
}

.page-default .navbar-nav li {
  padding: 0 15px;
}

.page-default .navbar-nav li:hover {
  background: #2A90E5;
}

.page-default .dropdown-menu {
  background: #000000;
}

.navbar-brand img {
  float: left;
  width: 70px;
  margin-right: 10px;
  margin-top: -3px;
}

@media screen and (max-width: 640px) {
  .navbar-toggle {
    padding: 7px 10px;
    margin-right: 10px;
    border: none;
  }
}

.slides-navigation {
  position: absolute;
  z-index: 3;
  bottom: 10%;
  right: 0;
  width: 110px;
  background: #2A90E5 none repeat scroll 0% 0%;
  border-top: 1px solid #2c91e5;
  border-bottom: 1px solid #288fe5;
  border-left: 1px solid #2c91e5;
  height: 70px;
}

.slides-navigation a {
  display: block;
  padding: 12px;
  cursor: pointer;
  outline: 0;
}

.slides-navigation a:hover {
  opacity: 0.5;
}

.slides-container .slides-title {
  position: absolute;
  left: 2%;
  bottom: 110px;
  text-align: left;
  color: #FFF;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  border-bottom: 1px solid #FFF;
}

.slides-container .slides-title:hover {
  padding: 0.5em 3em;
  background: #2A90E5;
}

.gallery-mix {
  padding: 10px;
}

.gallery-mix .mix {
  display: none;
  padding: 5px;
  min-height: 100px;
}

.gallery-mix img {
  width: 100%;
  transform: translateZ(0px);
  transition: all 0.2s ease 0s;
  opacity: 0.8;
  filter: grayscale(80%);
}

.mix a {
  display: block;
  border: medium none;
  overflow: hidden;
}

.mix a:hover {
  display: block;
  color: #2A90E5;
  border-top: 3px solid #2A90E5;
  margin-top: -3px;
}

.mix a:hover img {
  opacity: 1;
  filter: grayscale(0%);
}

.mix .img {
  height: 230px;
  display: block;
  overflow: hidden;
}

.marquee-mask {
  width: 100%;
  margin: 0 auto;
  min-height: 200px;
  overflow: hidden;
  position: relative;
}

.marquee-mask .marquee {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.marquee-mask .marquee-item {
  display: block;
  background-size: 100% auto;
  background-position: center bottom;
  position: relative;
  width: 100%;
  height: 100%;
}

.marquee-mask .marquee-video {
  display: block;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .marquee-mask .marquee-video {
    display: none;
  }
}

.marquee-mask .marquee-img {
  display: none;
}

@media screen and (max-width: 640px) {
  .marquee-mask .marquee-img {
    width: 100%;
    display: block;
  }
}

video {
  vertical-align: baseline;
}

.blog img {
  width: 100%;
}

.blog .page-header {
  margin: 15px 0;
}

.pagination {
  margin: auto;
}

.single-page .page-header {
  margin: 15px 0;
}

.single-page .marquee-img {
  display: block;
  width: 100%;
}

/* footer
	.copyright
		position: absolute;
		bottom: 5px; */
.copyright {
  color: #CCC;
  margin-top: 1.5em;
  font-size: 0.875em;
}

.find-us a {
  color: #2A90E5;
}

#google-maps {
  border: 0px none;
  position: absolute;
  bottom: 0px;
  right: 10%;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 640px) {
  #google-maps {
    position: static;
  }
}

/* ********************************** */
.navbar-default.navbar-fixed-top {
  position: fixed;
  background: #fff;
  z-index: 4;
}

.navbar-default.navbar-fixed-top .navbar-brand {
  background: #2A90E5;
}

.page-default .navbar-default.navbar-fixed-top {
  position: fixed;
  background: #125b97;
}

.page-default .navbar-default.navbar-fixed-top:hover {
  background: #125b97;
}

.page-default .navbar-nav .open a, .page-default .navbar-nav .open a:focus, .page-default .navbar-nav .open a:hover {
  color: #fff;
  background: none;
}
